[submodule "externals/rxbyak"]
	path = externals/rxbyak
	url = https://github.com/vricosti/rxbyak.git
[submodule "externals/rhazel"]
	path = externals/rhazel
	url = https://github.com/vricosti/rhazel.git
